
*{padding: 0; margin: 0; box-sizing: border-box;}

/*=============================Navbar=================================*/
.navbar-brand img{
    width: 150px;
}
.navbar-toggler{
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 80px;
}}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: large; 
  padding-left: 10px;
}
.bg-light{
  background: linear-gradient(180deg, #FEC5C5 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-nav li{
background-color: #DA231F;
 border-radius: 20px;
 margin: 5px;
 box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25);
border-radius: 19px;
}

.navbar-nav li:hover{
  background-image: linear-gradient( 68.2deg,  rgba(255,202,88,1) 0%, rgba(139,73,255,1) 100.2% );
  border-radius: 20px;
  
}
.navbar-light .navbar-nav .nav-link {
    
    color: white;
    font-size: large;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;

}


/*=============================Navbar End=================================*/



/*=================================Hero Section============================*/

body{height: 900px;}
header {
  /*background: url('img/bg.jpg');*/
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 40px;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}


/*=================================Hero Section End============================*/


/*=================================Cards============================*/

.display-4{
font-family: Amaranth;
font-size: 47px;
color: #DA231F;
}
.card
{
	background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
		
}
.clipart{
  margin-bottom: 20px;
}

.clipart1{
  margin-bottom: 20px;
}


/*=================================Cards End============================*/


/*========================================footer========================================*/
.site-footer
{
  background: linear-gradient(180deg, #FEC5C5 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: #DA231F;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#d6249f
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/*========================================footer end========================================*/

.contact-form{
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
   border-radius: 20px;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
   color: white;
   background-color: #DA231F;
   border-radius: 20px;
     box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25);
     padding: 10px;

}
.contact-form .btnContact {
       background-color: #DA231F;
     border-radius: 20px;
     box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25);
   color: white;
    cursor: pointer;

}

button, input, optgroup, select, textarea {
  margin: 10px;
}

.display-5{
font-family: Amaranth;
font-size: 47px;
color: #DA231F;
margin-top: -20px;
}
.blk{
 border-radius: 20px !important;
 box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.25) !important;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}